meta(charset='utf-8')
meta(name='viewport', content='width=device-width,initial-scale=1,shrink-to-fit=no')
title coinblazers
//  Favicon 
link(rel='shortcut icon', href='/assets/images/coinblazers-favicon2.png')
link(rel='stylesheet', href='/assets/css/libs.min.css')
link(rel='stylesheet', href='/assets/css/coinex.css?v=1.0.0')
//  loader Start 
#loading
  .loader.simple-loader
    .loader-body
//  loader END 
main.main-content
  .position-relative
    // Nav Start
    nav.nav.navbar.navbar-expand-lg.navbar-light.iq-navbar.border-bottom
      .container-fluid.navbar-inner
        h4.title.
          
          Traders
          
        button.navbar-toggler(type='button', data-bs-toggle='collapse', data-bs-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
          span.navbar-toggler-icon
            span.navbar-toggler-bar.bar1.mt-2
            span.navbar-toggler-bar.bar2
            span.navbar-toggler-bar.bar3
        .collapse.navbar-collapse#navbarSupportedContent
          ul.navbar-nav.ms-auto.navbar-list.mb-2.mb-lg-0.align-items-center
            li.nav-item.dropdown
              a.nav-link.py-0.d-flex.align-items-center#navbarDropdown(href='#', role='button', data-bs-toggle='dropdown', aria-expanded='false')
                img.img-fluid.avatar.avatar-50.avatar-rounded(src='/assets/images/avatars/01.png', alt='User-Profile')
                .caption.ms-3
                  h6.mb-0.caption-title= `${user.firstName} ${user.lastName}`
                  p.mb-0.caption-sub-title= user.role
              ul.dropdown-menu.dropdown-menu-end(aria-labelledby='navbarDropdown')
                li.border-0
                  a.dropdown-item(href='/user-profile') Profile
                li.border-0
                  a.dropdown-item(href='/account') Dashboard
                li.border-0
                  a.dropdown-item(href='/deposit') Deposit
                li.border-0
                  a.dropdown-item(href='/withdraw') Withdrawal
                li.border-0
                  a.dropdown-item(href='/traders') Traders
                li.border-0
                  hr.m-0.dropdown-divider
                li.border-0
                  a.dropdown-item#logoutLink(href='') Logout
    // Nav End
  .container-fluid.content-inner.pb-0
    .row
      .col-lg-12
        .card.card-block.card-stretch.custom-scroll
              .card-header.d-flex.flex-wrap.justify-content-between.align-items-center
                .caption
                  h4.font-weight-bold.mb-2 Traders
                  p.mb-0 Add or remove traders.
                //- .btn-group(role='group', aria-label='Basic checkbox toggle button group')
                //-   input.btn-check#btncheck1(type='checkbox')
                //-   label.btn.btn-sm.btn-secondary.active.rounded-start(for='btncheck1') Monthly
                //-   input.btn-check#btncheck2(type='checkbox')
                //-   label.btn.btn-sm.btn-secondary(for='btncheck2') Weekly
                //-   input.btn-check#btncheck3(type='checkbox')
                //-   label.btn.btn-sm.btn-secondary.rounded-end(for='btncheck3') Today
              .card-body
                .table-responsive
                  table.table.data-table.mb-0
                    thead
                      tr
                        th(scope='col') Avatar
                        th(scope='col') Name
                        th(scope='col') Win Rate
                        th(scope='col') Profit Share
                        th(scope='col') Action
                        //- th(scope='col') Volume(24th)
                        //- th(scope='col') Circulating
                        //- th(scope='col') Last 7 Days
                    tbody
                      each trader, index in traders
                        tr.white-space-no-wrap
                          td
                            div
                              img.img-fluid.avatar.avatar-30px.avatar-rounded(src=`${trader.avatar}`, alt='trader avatar', style='width: 70px; height: 70px; object-fit: cover;')
                          td= trader.name
                          td= trader.winRate
                          td= trader.profitShare
                          td 
                            - const isTraderSelected = selectedTraders.includes(trader._id.toString());
                            if isTraderSelected
                              button.btn.btn-outline-danger.update-btn.trader-update-remove(type='button', data-user-id=user._id, data-select-type='remove', data-trader-id=trader._id, data-trader-pug=index, class=`trader-update-remove-${index}`) Remove
                            else
                              button.btn.btn-outline-success.update-btn.trader-update-add(type='button', data-user-id=user._id, data-select-type='add', data-trader-id=trader._id, data-trader-pug=index, class=`trader-update-add-${index}`) Add
//  Wrapper End
//  offcanvas start 
//  Custom JavaScript 
script(src='/js/bundle.js')
//  Backend Bundle JavaScript 
script(src='/assets/js/libs.min.js')
//  widgetchart JavaScript 
script(src='/assets/js/charts/widgetcharts.js')
//  fslightbox JavaScript 
script(src='/assets/js/fslightbox.js')
//  app JavaScript 
script(src='/assets/js/app.js')
//  apexchart JavaScript 
script(src='/assets/js/charts/apexcharts.js')
script(src='//code.jivosite.com/widget/yoUx1fCjuJ' async='')


